.pagination {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.pagination__content {
  justify-self: center;
  grid-row-start: 2;
  grid-column-start: 2;
}

.pagination__controls {
  grid-row-start: 3;
  grid-column-start: 2;
  justify-self: center
}