.header-nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #1978bb;
  top: 0;
  right: 0;
  height: 1.8em; }
  @media (min-width: 600px) {
    .header-nav-wrapper {
      height: 4em; } }
