@import '../../utils/commonCss.scss';

.header-nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $trelloNavBlue;
  top: 0;
  right: 0;
  height: 1.8em;
  outline: none;
  
  @media (min-width: 600px) {
    height: 4em;
  }
}